.postings{
    display:flex;
    flex-direction: row;
    background-color:white;
    padding:20px;
}
.post{
    flex:10;
    text-align:center;
    
}
.date{
    border-left:1px solid black;
    flex:1;
    text-align:right;
    padding-left:20px;
}
.space{
    flex:1;
}
.post + .date{
    margin-left:20px;
}
.hidden{
    display:none;
}
.disclaimer{
    min-height:100vh;
    background-color:black;
    color:white;
    font-size:30px;
    justify-content: center;
    text-align: center;
}
.declined{
    color:black;
}