footer{
    min-height:100px;
    padding:20px;
    background-color:rgba(0, 0, 0, 0.3);
}
body{
    background-image:url("../Images/seal.png");
    background-size:cover;
    background-position: center;
    height:100vh;
    /* background-repeat: no-repeat; */
}
.title{
    background-color:rgba(0, 0, 0, 0.3);
    min-height: 100px;
    text-align: center;
    justify-content:center;
    padding:30px;
    color:white;
}
.name{
    /* font-size: 64px; */
    font-weight: bolder;
    text-shadow: 3px 3px darkslategrey;
}
.logos{
    justify-content:center;
    /* padding:20px; */
}
.logo, .col-md-3{
    text-align: center;
}
.program{
    background-size: contain;
    max-height:50px;
    max-width:50px;
}
#linkedIn{
    max-height:50px;
    max-width:50px;
    background-image: url('/MacroRef/Images/Linkedin.png');
}
.youtube{
    max-height:50px;
    max-width:50px;
}

.links{
    justify-content: space-evenly;
}