.image{
    width: 200px;
    height: 200px;
    /* max-height:200px; */
    margin-left:auto;
    margin-right:auto;
}
.button{
    max-width:220px;
    max-height:270px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    padding:0px;
    border:5px solid grey;
}
.contentRow{
    justify-content: space-evenly;
}
.main{
    display: flex;
    flex-direction:column;
    margin-top:50px;
    margin-bottom:50px;
}
p.buttonNames{
    font-size:24px;
    font-weight: bold;
    background-color:grey;
    margin:0px;
}
.hidden{
    display:none;
    border:1px solid black;
    background-color:rgba(189, 209, 214, 0.7);
    max-width:218px;
    /* text-align: center; */
    margin:auto;
    margin-top:10px;
}
.content{
    background-color:rgba(100, 111, 114, 0.5)
}
.code,.launch{
    border-top:1px solid black;
}